.linkWrapper {
    display: flex;
    width: 510px;
    padding: 0;
}

.categoryItem {
    display: flex;;
    cursor: pointer;
    
    img {
        border-radius: 20px;
        width: 210px;
        height: 295px;
    }

    &:hover {
        transform: translateY(-4px),
    }
}

.description {
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 43px;

    .name {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 57px;
    }

    .genre {
        font-size: 16px;
    }
}