* {
    text-decoration: none;
    outline: none;
    color: black;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    background-color: #2e3035;
}