a {
    width: 180px;
    padding: 0 33px 22px 33px;
}

.mainItem {
    transition: all 0.15s ease-in-out;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        transform: translateY(-4px),
    }

    img {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 10px;
        object-fit: cover;
    }

    .name {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    .country {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .genre {
        margin-bottom: 25px;
    }
}


